body {
	background-color: black;
}

.container {
	background-color: red;
}
.underscores {
	align-content: center;
	font-size: 30px;
}

.panel-title {
	border-style: solid;
	background-color: white;
}

#reset-button {

}